<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="lat_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lat_column" type="xstring" value="lat"/>
<config key="lon_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="lon_column" type="xstring" value="long"/>
<config key="polygon_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_geopolygon"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="polygon_selection_lonpoints">
<entry key="array-size" type="xint" value="16"/>
<entry key="0" type="xdouble" value="4.8085784912109375"/>
<entry key="1" type="xdouble" value="4.805402755737305"/>
<entry key="2" type="xdouble" value="4.80626106262207"/>
<entry key="3" type="xdouble" value="4.810552597045898"/>
<entry key="4" type="xdouble" value="4.815187454223633"/>
<entry key="5" type="xdouble" value="4.817590713500977"/>
<entry key="6" type="xdouble" value="4.820337295532227"/>
<entry key="7" type="xdouble" value="4.822139739990234"/>
<entry key="8" type="xdouble" value="4.82274055480957"/>
<entry key="9" type="xdouble" value="4.824028015136719"/>
<entry key="10" type="xdouble" value="4.826259613037109"/>
<entry key="11" type="xdouble" value="4.827632904052734"/>
<entry key="12" type="xdouble" value="4.8284912109375"/>
<entry key="13" type="xdouble" value="4.829349517822266"/>
<entry key="14" type="xdouble" value="4.82823371887207"/>
<entry key="15" type="xdouble" value="4.815874099731445"/>
</config>
<config key="polygon_selection_latpoints">
<entry key="array-size" type="xint" value="16"/>
<entry key="0" type="xdouble" value="45.773509943817174"/>
<entry key="1" type="xdouble" value="45.764469354046206"/>
<entry key="2" type="xdouble" value="45.760876659920015"/>
<entry key="3" type="xdouble" value="45.7583616363746"/>
<entry key="4" type="xdouble" value="45.75680466022594"/>
<entry key="5" type="xdouble" value="45.75470866219112"/>
<entry key="6" type="xdouble" value="45.752912029787566"/>
<entry key="7" type="xdouble" value="45.752852141044656"/>
<entry key="8" type="xdouble" value="45.75416967854321"/>
<entry key="9" type="xdouble" value="45.7556069567031"/>
<entry key="10" type="xdouble" value="45.758661049884104"/>
<entry key="11" type="xdouble" value="45.76057725829968"/>
<entry key="12" type="xdouble" value="45.76267303590262"/>
<entry key="13" type="xdouble" value="45.76405021831941"/>
<entry key="14" type="xdouble" value="45.766085990923074"/>
<entry key="15" type="xdouble" value="45.76686435493257"/>
</config>
<config key="exclude_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="exclude" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Saint-Jean"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="454"/>
<entry key="y-coordinate" type="xint" value="-621"/>
<entry key="width" type="xint" value="133"/>
<entry key="height" type="xint" value="17"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.ext.osm.node.rowfilter.GeoRowFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Open Street Map Views Integration"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.osm"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201711021644"/>
<entry key="node-feature-name" type="xstring" value="KNIME Open Street Map Integration"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.osm.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.0.v201711021644"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Geo-Coordinate Row Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
